/*CSS for both parts of the assignment*/

ul{
    list-style: none;
}

h2{
    font-size: 25px;
}

fieldset{
    background-color: cornsilk;
	border: 1px solid black;
}

legend{
    font-size: 25px;
    font-weight: bold;
}